@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    animation: change 2s infinite;
}

@keyframes change{
    0%{background-color: #1abc9c;}
    25%{background-color: #2ecc71;}
    50%{background-color: #3498db;}
    75%{background-color: #9b59b6;}
    100%{background-color: #e74c3c;}
}


/*making cards*/
.section-p1{
    padding: 10px 80px;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 270px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img{
    width: 100%;
    border-radius: 270px;
}

#product1 .pro .des{
    text-align: center;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: black;
    font-size: 12px;
}


/*-----------------------------*/

h2{
    padding-bottom: 20px;
}

.btn{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: black;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
